@charset "UTF-8";

@font-face{
    src: url(Material/pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-family: 'android';

}
@font-face{
    src: url(Material/pacote-projeto-d010/fontes/Highman.ttf) format('truetype');
    font-family:'Highman'
}


header{
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(33, 230, 148),rgb(1, 75, 44) );
    padding-bottom: 25px;
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: sans-serif;   

}

header>div:active {
    color: white;    

}
header>div:visited{
    color: white;    

}

header> h1{
    
    text-align: center;
    text-shadow:rgb(0, 0, 0);
    font-family: 'Highman';
    color: white;
    

}
header>p{
    color: white;
}

#cabecalho{
    text-align: left;
    color: white;
}

#cabeçalho{
    color: white;
    
}

main{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-indent: 20px;
    text-align: justify;
    background-color: white;
    margin-top: -16px;
    margin-left: 250px;
    margin-right: 250px;  
    padding-left: 5px;
    padding-right: 5px;         
   
}


main>h1{
    text-align: left;   
    font-family: 'android'; 
    color: rgb(3, 82, 33);
}


main>h2{
    text-align: left;   
    font-family: 'android'; 
    color: rgb(3, 82, 33);
    background-image: linear-gradient(to right, rgb(163, 240, 208),rgb(235, 243, 240) );
    
}


#video{
    text-align: center; 
}


body{
    background-color: rgb(77, 241, 159);

}


section>h3{
    background-color: green;
    text-align: left;
    margin-right: -5px;
    margin-left: -5px
   
}

section{
   
    background-color: white;
    color:black;
    text-align: justify;
    margin-top: -20px;
    margin-left: 250px;
    margin-right: 250px; 
    margin-bottom: 20px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 03px;
    text-indent: 20px;
    
 

}

section>div#divsection{
    background-color:rgb(77, 241, 159);


}


footer{

    text-align: justify;
    background-color: rgb(2, 48, 2);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 0.1px ;
     
}

footer>p{
    text-align: center;    

}




