@charset "UTF-8";

body{
font-family: 'Courier New', Courier, monospace;
font-size: medium;
background-color: aquamarine;
}

h1{
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: brown;
}

h3{
    color: chocolate;
}